@{
    ViewBag.Title = "Page non trouvée";
}

<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-info" role="alert">
            Page non trouvée.
        </div>
    </div>
</div>
