@{
    ViewBag.Title = "Page non trouvée";
}

<div class="row">
    <div class="col-xs-12">
        <div class="alert alert-danger" role="alert">
            Une erreur est survenue veuillez contacter l'administrateur.
        </div>
    </div>
</div>
